<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta   charset = "utf-8">
    <meta   name    = "viewport" content="width=device-width, initial-scale=1">
    <link   rel     = "stylesheet" href="/static/plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <script src     = "/static/plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <script src     = "/static/plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>
    <script src     = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {% block other_css %}
    {% endblock %}
  </head>
  <body>
    <div class='container-fluid'>

      <div class="card-title">
        {% block header %}
        {% endblock %}
      </div>
      {% block neck %}
      {% endblock %}

      <div class='row'>



            {% block lefthand %}
            {% endblock %}

            <div class='{% block main_card_atrr %}{% endblock %}'>
            <!-- <div class='col-sm-8 col-md-8'> -->
            <!-- <div class='col-sm'> -->
                <!-- <div class='panel panel-default'> -->
                  <div class='card {% block add_card_atrr %}{% endblock %}'>
                    <!-- <div class='panel-heading'> -->
                    <div class='card-header {% block add_card_header_style %}{% endblock %}'>
                      {% block card_header %}
                      {% endblock %}
                    </div>
                    <!-- <div class='panel-body'> -->
                    <div class='card-body {% block add_card_body_atrr %}{% endblock %}'>



                        <div class="container {% block add_card_content_atrr %}{% endblock %}">
                          {% block content %}
                          {% endblock %}
                        </div>

                    </div>
                    <!-- <div class='panel-footer'> -->
                    <div class='card-footer'>
                    
                      {% block card_footer %}
                      {% endblock %}

                    </div>
                </div>
            </div>


    {% block footer %}
    {% endblock %}



  </body>
</html>
