<div>
</div>
<h3>參考 : </h3>
<ul>
  <li>
    網頁的 header + footer : https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_default&stacked=h
  </li>
  <li>
    網頁的 body            : https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_table_bordered&stacked=h
  </li>
  <li>
    模板教學               : http://dokelung-blog.logdown.com/posts/235711-django-notes-12-template-advanced-technique
    <ul>
      <li>
        學習最基礎的模板寫法 [O]
      </li>
      <li>
        學習稍微進階的模板寫法 [X]
      </li>
    </ul>
  </li>
  <li>
    ToDo :
    <ul>
      <li>
        製作用於 body table 的 database table (目前是用 w3c 給的)
      </li>
      <li>
        使用 bootstrap 給的其他 class 渲染頁面
      </li>
      <li>
        使用進階的模板寫法
      </li>
    </ul>
  </li>
</ul>

