.form-group.custom-form {
    position: relative;
    margin: 0 auto;
    width: 40%;
}
.form-group.custom-form input {
    padding: 0 0 0 14px;
    height: 50px;
}
button.signup-btn {
    position: absolute;
    top: 8px;
    right: 15px;
    background: #1d4cb9;
    color: #fff;
    border: 0;
    padding: 5px 15px 5px 14px;
    border-radius: 5px;
}

